@model List<Category>
@{
            /*
             * TempData Can Be Assigned In the controller and used here in the Views
             * After refreshing The Page it will disappear
             * 
             * 
             * @if(TempData["success"]!=null){
                <h2>@TempData["success"]</h2>
                 }
             * 
             *  Update => It's Better To use partial views rather than temp Data Value That Appears For Reusability 
             * You Just Can Call  <partial name="_Notification"></partial> One Time And You Can Change the Defination only once int the shared/_Notification.cshtml
             * 
             * Update=>Moved To Partial View To Be Accessed Amoung All The Pages Not Only Been Speceifeid to one Page
             */

            
}
    
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Create New Category</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
       <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
            </tr>
       </thead>
       <tbody>
           @foreach(var category in Model.OrderBy(u=>u.DisplayOrder)){
                <tr>
                    <td>@category.Name</td>
                    <td>@category.DisplayOrder</td>
                    <td> 
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id=@category.ID class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id=@category.ID class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                    </td>
                </tr>
           }
    
       </tbody>
    </table>
</div>